In [3]:
import pandas as pd
# Load the test dataset
test_data = pd.read_csv("test.csv")

# Display the first few rows
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
# Fill missing Age values with median
test_data["Age"].fillna(titanic["Age"].median(), inplace=True)

# Fill missing Fare values with median (since "Fare" has missing values in test.csv)
test_data["Fare"].fillna(titanic["Fare"].median(), inplace=True)

# Fill missing Embarked values with most common value
test_data["Embarked"].fillna(titanic["Embarked"].mode()[0], inplace=True)

# Convert categorical variables
test_data["Sex"] = test_data["Sex"].map({"male": 0, "female": 1})
test_data["Embarked"] = test_data["Embarked"].map({"C": 0, "Q": 1, "S": 2})

# Create FamilySize feature
test_data["FamilySize"] = test_data["SibSp"] + test_data["Parch"] + 1

# Select the same features used in training
X_test_final = test_data[["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "FamilySize"]]

In [5]:
# Predict survival on the test dataset
test_predictions = rf_model.predict(Titanic_Survival_Predictions.csv)

# Add predictions to test dataset
test_data["Survived"] = test_predictions

# Show the first few predictions
print(test_data[["PassengerId", "Survived"]].head())

NameError: name 'rf_model' is not defined

In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

# Load the Titanic train dataset
train_data_path = "train.csv"
test_data_path = "test.csv"

titanic = pd.read_csv(train_data_path)

# Fill missing values in train data
titanic["Age"].fillna(titanic["Age"].median(), inplace=True)
titanic["Embarked"].fillna(titanic["Embarked"].mode()[0], inplace=True)

# Convert categorical variables
titanic["Sex"] = titanic["Sex"].map({"male": 0, "female": 1})
titanic["Embarked"] = titanic["Embarked"].map({"C": 0, "Q": 1, "S": 2})
titanic["FamilySize"] = titanic["SibSp"] + titanic["Parch"] + 1

# Define Features and Target for Training
features = ["Pclass", "Sex", "Age", "SibSp", "Parch", "Fare", "Embarked", "FamilySize"]
X_train, X_val, y_train, y_val = train_test_split(titanic[features], titanic["Survived"], test_size=0.2, random_state=42)

# Train Random Forest Model
rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
rf_model.fit(X_train, y_train)

# Load test dataset again
test_data = pd.read_csv(test_data_path)

# Fill missing values in test data
test_data["Age"].fillna(titanic["Age"].median(), inplace=True)
test_data["Fare"].fillna(titanic["Fare"].median(), inplace=True)
test_data["Embarked"].fillna(titanic["Embarked"].mode()[0], inplace=True)

# Convert categorical variables
test_data["Sex"] = test_data["Sex"].map({"male": 0, "female": 1})
test_data["Embarked"] = test_data["Embarked"].map({"C": 0, "Q": 1, "S": 2})
test_data["FamilySize"] = test_data["SibSp"] + test_data["Parch"] + 1

# Select relevant features
X_test_final = test_data[features]

# Predict survival on the test dataset
test_predictions = rf_model.predict(X_test_final)

# Add predictions to test dataset
test_data["Survived"] = test_predictions

# Save predictions for submission
submission = test_data[["PassengerId", "Survived"]]
submission_path = "titanic_submission.csv"
submission.to_csv(submission_path, index=False)

print(f"âœ… Predictions saved successfully: {submission_path}")

âœ… Predictions saved successfully: titanic_submission.csv